<html>

<head>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/room.js"></script>
</head>

<body onload="init('<%=roomId %>');">
    <h1>
        ルームID：<%=roomId %>
    </h1>
    <div>
        <label><input type="checkbox" onchange="setEnable(this.checked);">音を鳴らす</label>
        <input type="button" id="clap-button" value="拍手する" onclick="reaction('clap');" disabled>
    </div>
</body>

</html>